body {
    font-family: 'Segoe UI', sans-serif;
    font-size: 10pt;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-weight: 500;
    color: #777;
}

.answer {
    display: inline-block;
}

.form-inline label {
    text-align: left;
    justify-content: left;
    align-items: left;
}

.control-group {
    margin-bottom: 3px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;    
}

.yesno {
    font-size: 13pt;
}

.container-fluid {
    padding: 15px 30px;
}

.survey {
    max-width: 800px;
}

a {
    color: #00a8ff;
    cursor: pointer;
}

a:hover {
    color: #FF9B26;
}

.skm-page-options {
    padding-top: 5px;
    padding-bottom: 10px;
}

.skm-page-options ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skm-page-options .title {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

.main-section {
    padding-left: 15px;
    padding-bottom: 20px;
}

.main-section.personal-info {
    font-size: 12pt;
}

.main-section.disciplines {
    font-size: 12pt;
}

.main-section.skills {
    font-size: 12pt;
}

.main-section-title {
    font-size: 14pt;
    color: #8B8376;
    font-weight: bold;
    border-top: 1px solid #FF9B26;
    border-bottom: 1px solid #FF9B26;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.main-section-description {
    font-size: 12pt;
}

.test {
    font-size: 12pt;
    font-style: italic;    
}

.small-text{
    font-size: .9em;
}
    
.title {
    font-size: 1.4em;
    font-weight: bold;
}

main {
    padding: 5px;
}
.employee-details {
    background-color: #8B8376;
    border: solid 2px #ccc;
    color: #fff;
  }
  
.employee-details .headerlabel {
    width: 150px;
    font-weight: bold;
    display: inline-block;
  }

.section-row {
    display: table;
    border-bottom: 1px solid #eee;
}
.question {
    display: table-cell;
    vertical-align: middle;
    width: 300px;
    max-width: 300px;
}
.rating {
    width: 300px;
    padding: 8px 10px 5px 10px;
    height: 31px;
    display: table-cell;
    vertical-align: middle;
}

.rating input {
    width: 100%
}

.rating-label.employee {
    font-size: .85em;
    color: #00a8ff;
}

.rating-label.manager {
    font-size: .85em;
    color: #FF9B26;
}

.survey-section {
    position: relative;
    display:block;
    min-width: 600px;
}

.checkbox {
    width: 40px;
    display: inline-block;
}
.section-title {
    display: inline-block;
}
 
.survey-section > .checkbox:before {
    content: "\f096";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 18pt;
    font-weight: bold;
    position: relative;
    top: 5px;
}
  
.survey-section.checked > .checkbox:before {
    content: "\f046";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #00a8ff;
    font-size: 18pt;
    position: relative;
    top: 5px;
}

.ratingicon {
    width: 40px;
    display: inline-block;
}

.survey-section .ratingicon:before {
    content: "\f005";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 14pt;
    font-weight: bold;
    position: relative;
    top: 0;
}

.survey-section > .section-body {
    display:none;
}

.survey-section.checked > .section-body {
    display:block;
    margin-left: 50px;
    padding-left:10px;
    border-left: 1px solid black;
}

    
